* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

#main-container {
  display: flex;
  flex-direction: row;
  margin: 16px;
} 

canvas {
  border: 1px black solid;
}

#app .menu {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.menu span {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

button {
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border: none;
}

button img {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

button img:hover {
  cursor: pointer;
  opacity: 75%;
}

button img:active {
  opacity: 50%;
}
